{% extends "coder/index.html" %}
{% block titulo %} Sobre nosotros {% endblock %}
{% block contenido %}
<div class="container my-5">
  <h2 class="text-center mb-4">Acerca de nosotros</h2>
  <div class="card shadow-sm p-4 mx-auto" style="max-width: 700px;">
    <p class="lead text-center">¡Hola! Somos My Melody Music Store</p>
    <p>
      Esta es mi aplicación final para el curso de Python/Django. Me apasiona el diseño, el K-pop y crear interfaces que combinen
      estética y funcionalidad. En este sitio podés explorar álbumes, registrar clientes, y mucho más.
    </p>
    <p>
      Proyecto realizado para la entrega final de Python Flex de Coderhouse. 
    </p>
  </div>
</div>
{% endblock %}
