{% extends "coder/index.html" %} {% block titulo %} Nuevo Grupo {% endblock %} {% block contenido %}
<div class="container my-5">
  <h2 class="mb-4 text-center">Registrar nuevo grupo</h2>
  <div class="card shadow-sm p-4 mx-auto" style="max-width: 600px">
    <form method="POST">
      {% csrf_token %} {{ form.as_p }}
      <div class="text-center mt-3">
        <button type="submit" class="btn btn-primary px-4">Guardar</button>
        <a href="{% url 'index' %}" class="btn btn-primary px-4">Volver</a>
      </div>
    </form>
  </div>
</div>
{% endblock %}
