{% extends "coder/index.html" %}
{% block titulo %} Mi perfil {% endblock %}
{% block contenido %}
<div class="container my-5" style="max-width:700px">
  <div class="card p-4 shadow-sm">
    {% if user.profile.avatar %}
  <img src="{{ user.profile.avatar.url }}" alt="Avatar" width="150" height="150" style="border-radius: 50%;">
{% else %}
  <img src="{% static 'img/default.png' %}" alt="Sin avatar" width="150" height="150" style="border-radius: 50%;">
{% endif %}
    <h3>{{ request.user.get_full_name|default:request.user.username }}</h3>
    <p><strong>Username:</strong> {{ request.user.username }}</p>
    <p><strong>Email:</strong> {{ request.user.email }}</p>
    {% if user.profile.birthday %}
    <p><strong>Cumpleaños:</strong> {{ user.profile.birthday|date:"d/m/Y" }}</p>
    {% endif %}
    {% if user.profile.bio %}
    <p><strong>Biografía:</strong> {{ user.profile.bio }}</p>
    {% endif %}

    <div class="mt-3">
      <a class="btn btn-primary" href="{% url 'perfil_edit' %}">Editar perfil</a>
      <a class="btn btn-outline-secondary" href="{% url 'password_change' %}">Cambiar contraseña</a>
    </div>
  </div>
</div>
{% endblock %}
